.ss-page {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.ss-page__header {
  padding: 2em 0.25em;
  text-align: center;
}

.ss-page__footer {
  padding: 2em 0.25em;
}

.ss-page__full {
  height: 100%;
}