:root {
  --ss--primary-color: #F24846;
  --ss--primary-color-dark: #D01210;
  --ss--secondary-color: #32C15B;
  --ss--secondary-color-dark: #10711E;
  --ss--third-color: #59a6e9;
  --ss--third-color-dark: #326ab4;
  --ss--contrast-color: #F8D54C;
  --ss--dark-color: #0b132b;
  --ss--white-color: #ffffff;
  --ss--black-color: #030303;
  --ss--shadow-color:  #dcdcdcb3; 
}
